<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="yandex-verification" content="3ee2160a35000cdf" />
  
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-icon-144x144.png">
  <link rel="icon" type="image/png" sizes="144x144"  href="{{ site.baseurl }}/public//android-icon-144x144.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/public//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/public//favicon-96x96.png">
  <link rel="manifest" href="{{ site.baseurl }}/public//manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/public//ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
